* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* customize the principal container */
.container-principal-rf {
  height: 95%;
  width: 80%;
  margin: auto;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/******** UTILITIES  ********/

.bg-color-main-top-rf {
  background-color: hsl(174deg 100% 29%);
  height: 10%;
}

.bg-color-main-bottom-rf {
  background-color: hsl(67deg 10% 84%);
  height: 90%;
}

.bg-color-yellor-rf {
  background-color: hsl(30deg 80% 65%);
  height: 95vh;
}

.h-50px-rf {
  height: 50px;
  border: 1px solid black;
}

.bg-text-uname-rf {
  color: hsl(0deg 3% 80%);
}

.f-px-10-rf {
  font-size: 10px;
}

.f-px-20-rf {
  font-size: 20px;
}
/* ******* / UTILITIES  ******* */
